# Temp file
*.*~
/.vscode

# Auto generation
### C ###
# Prerequisites

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### D ###
# Compiled Object files

# Compiled Dynamic libraries

# Compiled Static libraries

# Executables

# Temp docs
*.html

# DUB
.dub
docs.json
__dummy.html

# Code coverage
*.lst

### D Patch ###
# Test Executables
*-test-*

# Comment to allow dub lock file to be version controlled as well
dub.selections.json
